
.idea/codestream.xml
.idea/dodo-demo-Project.iml
.idea/encodings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/markdown.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
Demo2/__pycache__/BotInfo.cpython-39.pyc
Demo2/__pycache__/ErrorCode.cpython-39.pyc
Demo2/__pycache__/GetWebSocketConnection.cpython-39.pyc
Demo2/__pycache__/Loghelper.cpython-39.pyc
Demo2/__pycache__/MarkdownSupport.cpython-39.pyc
Demo2/__pycache__/Public_Headers.cpython-39.pyc
Demo2/__pycache__/SendChannelMessage.cpython-39.pyc
Demo2/__pycache__/SendPersonalMessage.cpython-39.pyc
